#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Antenna configs"

# Chose which antenna to use; onboard or external
# This affect if we configure the LNA ( READ ABOUT MAGPIO AND COEX0 )
choice
	default SAU_ANTENNA_ONBOARD
	prompt "Select which antenna to use for GNSS"

config SAU_ANTENNA_ONBOARD
	bool "Use onboard antenna"

config SAU_ANTENNA_EXTERNAL
	bool "Use external antenna"

endchoice

config SAU_AT_MAGPIO
	string "AT%XMAGPIO command"
	default "AT\%XMAGPIO=1,0,0,1,1,1574,1577" if BOARD_NRF9160DK_NRF9160_NS
	default "AT\%XMAGPIO=1,1,1,7,1,746,803,2,698,748,2,1710,2200,3,824,894,4,880,960,5,791,849,7,1565,1586" if BOARD_THINGY91_NRF9160_NS
	help
	  Defines the AT%XMAGPIO command to be sent to GNSS module. Leave
	  empty if this command should not be sent.

config SAU_AT_COEX0
	string "AT%XCOEX0 command"
	default "AT\%XCOEX0=1,1,1565,1586" if (BOARD_NRF9160DK_NRF9160_NS || BOARD_THINGY91_NRF9160_NS) && SAU_ANTENNA_ONBOARD
	default "AT\%XCOEX0" if (BOARD_NRF9160DK_NRF9160_NS || BOARD_THINGY91_NRF9160_NS) && SAU_ANTENNA_EXTERNAL
	help
	  Defines the AT%XCOEX0 command to be sent to GNSS module. Leave
	  empty if this command should not be sent.

endmenu

choice
	default SAU_ASSISTANCE_NONE
	prompt "Select whether GNSS assistance is used or not"

config SAU_ASSISTANCE_NONE
	bool "Assistance not used"

config SAU_ASSISTANCE_NRF_CLOUD
	bool "Use nRF Cloud A-GPS or P-GPS"
	select NRF_CLOUD_REST
	imply NRF_CLOUD_AGPS
	select MODEM_JWT
	select MODEM_INFO
	select DATE_TIME
endchoice

#		PGS-GREIER
# if !SAU_ASSISTANCE_NONE
#config NRF_CLOUD_PGPS
#	prompt "Select whether PGPS assistance is used or not"
	#config NRF_CLOUD_PGPS
#endif #SAU_ASSISTANCE_NONE

if !SAU_ASSISTANCE_NONE

config SAU_LTE_ON_DEMAND
	bool "LTE is activated only when needed to fetch A-GPS data"
	depends on !NRF_CLOUD_PGPS
	help
	  Activates LTE only when it is needed to fetch A-GPS data. This is not supported when
	  P-GPS is enabled.

endif # !SAU_ASSISTANCE_NONE

config SAU_LOW_ACCURACY
	bool "Allow low accuracy fixes"
	help
	  Allows fixes with lower accuracy.

# This allows for lox accuracy fixes (using only 3 satelites). A fix must have been obtained before accepting a low accuray fix.
if SAU_LOW_ACCURACY

config SAU_ASSISTANCE_REFERENCE_ALT
	int "Reference altitude for 3-sat first fix in meters"
	range -32767 32767
	default -32767
	help
	  Reference altitude for 3-sat first fix in meters above the reference ellipsoid surface.
	  The default value -32767 implies that reference altitude is not injected.

endif #  SAU_LOW_ACCURACY


config CLOUD_BACKEND
	string "Selects the cloud backend to be used"
	default "NRF_CLOUD"
	help
	  Possible values are "NRF_CLOUD", "AWS_IOT", "AZURE_IOT_HUB".

config CLOUD_MESSAGE
	string "Sets the custom message published periodically to cloud"
	default "{\"state\":{\"reported\":{\"message\":\"Hello Internet of Things!\"}}}"

config CLOUD_MESSAGE_PUBLICATION_INTERVAL
	int "Sets how often the custom message should be published to cloud, in seconds"
	default 10

config CLOUD_CONNECTION_RETRY_TIMEOUT_SECONDS
	int "Sets the number of seconds between each cloud connection retry"
	default 30






#Something could go here







menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = SAU
module-str = GNSS sample
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
